{{!< default}}

<header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
    <div class="inner">
        <a class="header-title" href="{{@blog.url}}">

            {{#get "users" slug="tuomas" as |tuomas|}}
                {{#tuomas}}
                    {{#if image}}
                        <figure class="header-image">
                            <img src="{{image}}" alt="{{name}}" />
                        </figure>
                    {{/if}}
                {{/tuomas}}
            {{/get}}

            <h1 class="header-name">{{@blog.title}}</h1>
            {{#if @blog.description}}
                <span class="header-description">{{@blog.description}}</span>
            {{/if}}
        </a>

        <div class="social-media">
            <a href="https://twitter.com/tumetsu" onclick="window.open(this.href);return false;">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="https://www.github.com/tumetsu" onclick="window.open(this.href);return false;">
                <i class="fa fa-github"></i>
            </a>

            <a href="https://fi.linkedin.com/in/salmituomas" onclick="window.open(this.href);return false;">
                <i class="fa fa-linkedin"></i>
            </a>


        </div>

    </div>
    {{#if @blog.cover}}
        <div class="header-cover" style="background-image: url({{@blog.cover}})"></div>
    {{/if}}
</header>

<div id="post-index" class="container">

    <main class="content" role="main">

        {{> "loop"}}

    </main>

</div>
